/* RESETS */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
input,
button, 
hr {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
    scroll-padding-block-start: 2rem;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* GLOBAL VARIABLES */
:root {
    /* Font  */
    font-family: acumin-pro, sans-serif;

    /* Font sizes */
    --fs-14: .875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;

    /* Font weight */
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    /* Colours */
    --clr-white:#fff;
    --clr-wild-sand:#f4f4f4;
    --clr-gallery:#eaeaea;
    --clr-azalea:#f9cdcd;
    --clr-scorpion:#5e5e5e;
    --clr-tuatara:#252422;
    --clr-cod-gray:#191918;
    --clr-black:#000;

    /* Modular Scales */
    --ratio: 1.61803398875;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    /* Width */
    --measure: 65ch;
    --space: 1rem;
}

/* ELEMENT STYLING */
h1 {
    font-size: var(--fs-40);
}

p {
    font-size: var(--fs-20);
}

a {
    all: unset;
    font-size: var(--fs-16);
    font-weight: 500;
}

ul {
    list-style: none;
}

button {
    all: unset;
    border: 2px solid var(--clr-black);
    border-radius: 100vw;
    padding-block: var(--s-1);
    padding-inline: var(--s1);
}

video {
    max-width: 100%;
    max-height: 40rem;
}

/* lAYOUT STYLING */
.container {
    padding-inline-start: var(--s2);
    padding-inline-end: var(--s2);
    max-width: 80rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.text-clip {
    max-width: var(--measure);
}

.stack>* {
    margin-top: 0;
    margin-bottom: 0;
}

.stack>*+* {
    margin-top: var(--s3);
}

/* .tight-stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  } */

.tight-stack > * {
    margin-top: 0;
    margin-bottom: 0;
}

.tight-stack > *+* {
    margin-top: var(--s1);
}

.center {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* max-width: var(--measure); */
    padding-left: var(--s0);
    padding-right: var(--s0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space, var(--s0));
    justify-content: flex-start;
    align-items: center;
}

.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s1);
}

.switcher>* {
    flex-grow: 1;
    flex-basis: calc((35rem - 100%) * 999);
}

.switcher> :nth-last-child(n+ 4),
.switcher> :nth-last-child(n+ 4)~* {
    flex-basis: 100%;
}

.reel {
    display: flex;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: #fff #000;
}

.reel::-webkit-scrollbar {
    height: 1rem;
}

.reel::-webkit-scrollbar-track {
    background-color: #000;
}

.reel::-webkit-scrollbar-thumb {
    background-color: #000;
    background-image: linear-gradient(#000 0, #000 0.25rem, #fff 0.25rem, #fff 0.75rem, #000 0.75rem);
}

.reel>* {
    flex: 0 0 auto;
}


.reel>img {
    height: 100%;
    flex-basis: auto;
    width: auto;
}

.reel>*+* {
    margin-left: 1rem;
}

.reel.overflowing {
    padding-bottom: 1rem;
}

/* SECTIONAL STYLING */
body {
    background-color: var(--clr-wild-sand);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space, var(--s0));
}

main > section:first-of-type > h1 > span {
    display: block;
    text-align: right;
}

section.copyright-notice {
    display: relative;
}

section.copyright-notice::after {
    content: "";
}

#work .card {
    max-width: 35ch;
}

#work .card hr{
    max-width: 50px;
}